# Core NLP & ML
pandas
numpy
scikit-learn
xgboost
nltk
joblib
datasets

# Visualization & App
matplotlib
seaborn
plotly
streamlit
wordcloud

# Deep Learning
torch
transformers
safetensors

# Explainability
lime
